This report summarizes the data assembled on the students of Py City Schools, both on the district and individual school level. It provides insights into how school budget, type, and size may influence academic performance. The trends it reveals will serve as a guide to inform decision making for the district education board.

The most obvious trend is the difference in performance between charter and district schools. The overall passing rate of charter schools exceeds district schools by over 35%. The largest difference can be seen in math, with 27% more students passing in charter schools. 

Though district schools appear to be struggling more, students across all schools seem to be doing better in reading than math. Additional support may be needed in that subject both in the classroom and outside of it. 

One surprising aspect of this analysis is that there does not appear to be a correlation between school spending and performance.

In [79]:
#Dependencies and Setup
import pandas as pd
from pathlib import Path

#File to load 
school_data_to_load = Path("schools_complete.csv")
student_data_to_load = Path("students_complete.csv")

#Read School and Student data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

#Combine data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how='left', on= ["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [80]:
#Total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [81]:
#Total number of students
student_count = len(school_data_complete["Student ID"].unique())
student_count

39170

In [82]:
#Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [83]:
#Average math score
average_math = student_data["math_score"].mean()
average_math

78.98537145774827

In [84]:
#Average reading score
average_reading = student_data["reading_score"].mean()
average_reading

81.87784018381414

In [85]:
#Percentage of students who passed math
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [86]:
#Percentage of students who passed reading
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [87]:
#Percentage of students who passed math AND reading 
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [88]:
#List of all columns for reference 
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [1]:
#Number of schools
total_schools = len(school_data_complete["school_name"].unique())
print (total_schools)

NameError: name 'school_data_complete' is not defined

In [90]:
#District Dataframe
district_summary_df = pd.DataFrame(
    {"Total Schools": school_count, 
     "Total Students": student_count, 
     "Total Budget": total_budget,
     "Average Math Score": average_math, 
     "Average Reading Score": average_reading,
     "% Passing Math": passing_math_percentage,
     "% Passing Reading": passing_reading_percentage,
     "% Overall Passing": overall_passing_rate},
    index=["District Summary"])

#Apply formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [91]:
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
District Summary,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [92]:
#Type per school
school_types = school_data.set_index(["school_name"])["type"]

In [93]:
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [94]:
#Student count per school
total_students_per_school = school_data.groupby("school_name")["size"].sum()

In [95]:
total_students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [96]:
#Budget per school
total_budget_per_school = school_data.groupby("school_name")["budget"].sum()

In [97]:
total_budget_per_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [98]:
#Budget per student
total_budget_per_student = total_budget_per_school / total_students_per_school

In [99]:
total_budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [100]:
#Average math score per school
average_math_score = school_data_complete.groupby("school_name")["math_score"].mean()

In [101]:
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [102]:
#Average reading score per school 
average_reading_score = school_data_complete.groupby("school_name")["reading_score"].mean()

In [103]:
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [104]:
#Number of students per school passing math
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]

In [105]:
passing_math_per_school = passing_math.groupby('school_name')['Student ID'].count()
passing_math_per_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [106]:
#Number of students per school passing reading
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]

In [107]:
passing_reading_per_school = passing_reading.groupby('school_name')['Student ID'].count()
passing_reading_per_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [108]:
#Number of students passing both math and reading
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

In [109]:
passing_math_and_reading_per_school = passing_math_and_reading.groupby('school_name')['Student ID'].count()
passing_math_and_reading_per_school

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Student ID, dtype: int64

In [110]:
#Percent passing math per school
per_school_passing_math = passing_math_per_school / total_students_per_school * 100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [111]:
#Percent passing reading per school
per_school_passing_reading = passing_reading_per_school / total_students_per_school * 100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [112]:
#Percent passing math and reading per school
per_school_passing_math_and_reading = passing_math_and_reading_per_school / total_students_per_school * 100
per_school_passing_math_and_reading

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [113]:
import pandas as pd

In [114]:
#School Summary Dataframe
school_summary_df = pd.DataFrame(
    {"School Type": school_types,
      "Total Students": total_students_per_school,
      "Total School Budget": total_budget_per_school,
      "Per Student Budget": total_budget_per_student,
      "Average Math Score": average_math_score,
      "Average Reading Score": average_reading_score,
      "% Passing Math": per_school_passing_math,
      "% Passing Reading": per_school_passing_reading,
      "% Overall Passing Rate": per_school_passing_math_and_reading})

#Apply formatting
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)

In [115]:
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,"2,949","$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,"2,739","$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,"1,468","$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [116]:
#Highest Performing Schools
top_schools_df = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=False)

In [117]:
top_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,"1,635","$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,"1,468","$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,"2,283","$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [118]:
#Lowest Performing Schools
bottom_schools_df = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=True)

In [119]:
bottom_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,"2,949","$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,"2,917","$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,"4,635","$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,"4,761","$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [120]:
#9th Grade Math Scores
math_grade9th_ds = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()

In [121]:
math_grade9th_ds

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [122]:
#10th Grade Math Scores
math_grade10th_ds = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()

In [123]:
math_grade10th_ds

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [124]:
#11th Grade Math Scores
math_grade11th_ds = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()

In [125]:
math_grade11th_ds

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [126]:
#12th Grade Math Scores
math_grade12th_ds = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

In [127]:
math_grade12th_ds

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [128]:
#Data Frame - Math Scores by Grade
math_grade_summary_df = pd.DataFrame({"9th": math_grade9th_ds,
      "10th": math_grade10th_ds,
      "11th": math_grade11th_ds,
      "12th": math_grade12th_ds})

math_grade_summary_df[["9th", "10th", "11th", "12th"]]

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [129]:
#9th Grade Reading Scores
reading_grade9th_ds = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()

In [130]:
reading_grade9th_ds

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [131]:
#10th Grade Reading Scores
reading_grade10th_ds = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()

In [132]:
reading_grade10th_ds

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [133]:
#11th Grade Reading Scores
reading_grade11th_ds = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()

In [134]:
reading_grade11th_ds

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [135]:
#12th Grade Reading Scores
reading_grade12th_ds = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

In [136]:
reading_grade12th_ds

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [137]:
#Data Frame - Reading Scores by Grade
reading_grade_summary_df = pd.DataFrame({"9th": reading_grade9th_ds,
      "10th": reading_grade10th_ds,
      "11th": reading_grade11th_ds,
      "12th": reading_grade12th_ds})

reading_grade_summary_df[["9th", "10th", "11th", "12th"]]

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [138]:
#Creating a copy of the school summary
scores_by_school_spending = school_summary_df.copy()

In [139]:
#Create the columns
grouped_spending = scores_by_school_spending[["Per Student Budget",
                                              "Average Math Score",
                                              "Average Reading Score",
                                              "% Passing Math",
                                              "% Passing Reading",
                                     "% Overall Passing Rate"]]

In [140]:
#Create the bins
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ['<$585', '$585-630', '$630-645', '$645-680']

In [141]:
grouped_spending.loc[:, "Spending Ranges (Per Student)"] = pd.cut(scores_by_school_spending["Per Student Budget"], spending_bins, labels=spending_labels)

C:\Users\hebir\AppData\Local\Temp\ipykernel_23340\178896028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped_spending.loc[:, "Spending Ranges (Per Student)"] = pd.cut(scores_by_school_spending["Per Student Budget"], spending_bins, labels=spending_labels)

In [142]:
#Calculate averages
spending_math_scores = grouped_spending.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = grouped_spending.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = grouped_spending.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = grouped_spending.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = grouped_spending.groupby(["Spending Ranges (Per Student)"])["% Overall Passing Rate"].mean()

C:\Users\hebir\AppData\Local\Temp\ipykernel_23340\2011541139.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = grouped_spending.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\hebir\AppData\Local\Temp\ipykernel_23340\2011541139.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = grouped_spending.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\hebir\AppData\Local\Temp\ipykernel_23340\2011541139.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = grouped_spending.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\hebir\AppData\Local\Temp\ipykernel_23340\2011541139.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = grouped_spending.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\hebir\AppData\Local\Temp\ipykernel_23340\2011541139.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = grouped_spending.groupby(["Spending Ranges (Per Student)"])["% Overall Passing Rate"].mean()

In [143]:
#Spending Summary DataFrame
spending_summary = pd.DataFrame({"Average Math Score":spending_math_scores,
                                    "Average Reading Score":spending_reading_scores,
                                    "% Passing Math":spending_passing_math,
                                    "% Passing Reading":spending_passing_reading,
                                    "% Overall Passing Rate":overall_passing_spending})

In [144]:
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [145]:
#Creating a copy of the school summary
scores_by_school_size = school_summary_df.copy()

In [146]:
#Create the columns
grouped_size = scores_by_school_size[["Total Students",
                                              "Average Math Score",
                                              "Average Reading Score",
                                              "% Passing Math",
                                              "% Passing Reading",
                                     "% Overall Passing Rate"]]

In [147]:
#Create the bins
size_bins = [0, 1000, 2000, 5000]
size_labels = ['Small 1000', 'Medium 1000-2000', 'Large 2000-5000']

size_bins = [int(x) for x in size_bins]

In [148]:
grouped_size.loc[:, "School Size Range"] = pd.cut(scores_by_school_size["Total Students"], size_bins, labels=size_labels)

TypeError: '<' not supported between instances of 'int' and 'str'

In [149]:
#Calculate the averages
size_math_scores = grouped_size.groupby(["School Size Range"])["Average Math Score"].mean()
size_reading_scores = grouped_size.groupby(["School Size Range"])["Average Reading Score"].mean()
size_passing_math = grouped_size.groupby(["School Size Range"])["% Passing Math"].mean()
size_passing_reading = grouped_size.groupby(["School Size Range"])["% Passing Reading"].mean()
overall_passing_size = grouped_size.groupby(["School Size Range"])["% Overall Passing Rate"].mean()

KeyError: 'School Size Range'

In [151]:
#Size Summary DataFrame
size_summary = pd.DataFrame({"Average Math Score":size_math_scores,
                                    "Average Reading Score":size_reading_scores,
                                    "% Passing Math":size_passing_math,
                                    "% Passing Reading":size_passing_reading,
                                    "% Overall Passing Rate":overall_passing_size})

NameError: name 'size_math_scores' is not defined

In [152]:
size_summary

NameError: name 'size_summary' is not defined

In [153]:
#Creating a copy of the school summary
scores_by_school_type = school_summary_df.copy()

In [154]:
#Creating the columns
scores_by_school_type = scores_by_school_type[['School Type','Average Math Score', 'Average Reading Score',
                                          '% Passing Math', '% Passing Reading', '% Overall Passing Rate']]

In [155]:
#Grouping by school type and taking the average 
type_summary_df = scores_by_school_type.groupby('School Type').mean()

In [156]:
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208